<div class="user-list rounded-lg shadow-2xl border border-solid border-gray-200">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div class="flex flex-row justify-end items-center px-4 py-3">
        <button
            mat-raised-button color="primary"
            (click)="createUser()"
        ><mat-icon>add</mat-icon> Create User</button>
    </div>

    <div class="table-container">
        <mat-table class="py-3" [dataSource]="userList">
            
            <!-- FIRST NAME column -->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>{{'FIRST NAME' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
            </ng-container>
            
            <!-- LAST NAME column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>{{'LAST NAME' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
            </ng-container>
            
            <!-- EMAIL column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>{{'EMAIL' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
            </ng-container>
            
            <!-- AGE column -->
            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef>{{'AGE' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
            </ng-container>
            
            <!-- NICK NAME column -->
            <ng-container matColumnDef="nickName">
                <mat-header-cell *matHeaderCellDef>{{'NICK NAME' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nickName}}</mat-cell>
            </ng-container>
            
            <!-- FAMILY column -->
            <ng-container matColumnDef="familyLineage">
                <mat-header-cell *matHeaderCellDef>{{'FAMILY' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.familyLineage}}</mat-cell>
            </ng-container>
    
            
            <!-- Action column -->
            <ng-container matColumnDef="action" stickyEnd>
                <mat-header-cell *matHeaderCellDef>{{'Action' | uppercase}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="gotoEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="confirmDelete(element)" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
        </mat-table>
    </div>
</div>
