<mat-sidenav-container>
  <mat-sidenav #sideNav3 mode="over" position="end" disableClose>
    <router-outlet name="sb3"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container>
      <mat-sidenav #sideNav2 id="right-side-nav-1" mode="over" position="end" disableClose>
        <router-outlet name="sb2"></router-outlet>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-sidenav-container>
          <mat-sidenav #sideNav1 id="right-side-nav" mode="over" position="end" disableClose>
            <router-outlet name="sb1"></router-outlet>
          </mat-sidenav>
          <mat-sidenav-content>
            <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
            <mat-sidenav-container class="root-side-nav">
              <mat-sidenav #appDrawer mode="side" opened="true">
                <mat-nav-list>
                  <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
                </mat-nav-list>
              </mat-sidenav>
              <app-top-nav fxHide.xs></app-top-nav>
              <div class="p-4">
                <router-outlet></router-outlet>
              </div>
              <!-- <div fxFlex></div> -->
            </mat-sidenav-container>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>






<!-- <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <router-outlet></router-outlet>
  <div fxFlex></div>
</mat-sidenav-container> -->