<div class="root">
    <div class="p-12">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
                <p>dummy-sb-3 works!</p>
            </div>
            <button mat-raised-button color="primary" class="mr-64"> Save
                <mat-icon><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon>
            </button>
        </div>
    </div>
</div>